@model Student

<form asp-action="Edit" method="post" asp-controller="Student">
   <input asp-for="FirstName"/>
   <input asp-for="MiddleName"/>
   <input asp-for="LastName"/>
   <input asp-for="Email"/>
 
   
   <input type="submit"/>
</form>